.statistics{
    width: 500px;
    margin: 0 auto;
    background-color: rgba(244, 244, 241, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding-top: 20px;
    gap: 20px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    color: grey;
    text-transform: uppercase;
}

.stat-list{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}

.stat-list .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 80px;
}

.stat-list .item:nth-child(1){
    background-color: blue;
}
.stat-list .item:nth-child(2){
    background-color: rgb(134, 38, 111);
}
.stat-list .item:nth-child(3){
    background-color: rgb(38, 134, 105);
}
.stat-list .item:nth-child(4){
    background-color: rgb(116, 134, 38);
}
.stat-list .item:nth-child(5){
    background-color: rgb(198, 68, 17);
}
.item .label{
    font-size: 18px;
    color: rgb(250, 240, 240);
    font-weight: 500;
}

.item .percentage{
    font-size: 24px;
    color: rgb(250, 240, 240);
}

