.transaction-history{
    width: 50%;
    margin: 50px auto;
    border-collapse: collapse;
    height:auto;
    box-shadow: 1px 3px 4px 0 rgb(239, 234, 210);
}

.transaction-history th{
    color: white;
    background-color: rgb(69, 211, 230);
    height: 50px;
    border: 1px solid rgb(99, 77, 77);
}
.transaction-history td:nth-child(1), .transaction-history th:nth-child(1){
    text-align: left;
    text-indent: 30%;
}

.transaction-history td{
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: rgb(49, 45, 45);
    border: 1px solid rgb(99, 77, 77);
    cursor: pointer;
}
.transaction-history tr:nth-child(even){
    background-color: rgb(242, 243, 222);
}
.transaction-history tr:nth-child(even):hover{
    background-color: rgb(116, 146, 223);
}
.transaction-history tr{
    background-color: rgb(197, 204, 204);
}
.transaction-history tr:hover{
    background-color: rgb(76, 174, 174);
}

